.aboutUs{
  .about-border-active{
    font-weight: bold;
    border-bottom: 3px solid var(--second-color);
    padding-bottom: 0.5rem;
  }

  .slider-content{
    .content-slider{
      position: absolute;
      top: calc(50% - 80px);
      max-width: 400px;
      text-align: center;
      }
      h3{
        font-weight: bold;
      }
    img{
      width: 100%;
      max-width: inherit;
      object-position: center;
    } 
  }

  .about-us-content{
    background-color: #f9f9f9;

    .about-title{
      display: flex;
      align-self: center;
    }
  }

  .services-cards{
    background-color: inherit;
    p{
      max-width: 300px;
      background-color: #f9f9f9;
      padding: 1rem;
    }
    .border-card{
      width: 90%;
      max-width: 280px;
      height: 10px;
      background: linear-gradient(90deg, rgba(249,249,249,1) 0%, rgba(232,232,232,1) 50%, rgba(249,249,249,1) 100%);
    }
  }
  
}