<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="stylesheet" href="./css/aboutUs.css" />
    <link rel="stylesheet" href="./css/services.css" />
    <link rel="stylesheet" href="./css/contact.css" />
    <link rel="stylesheet" href="./css/hamburger-menu.css" />
    <link rel="icon" href="./img/icon.png" />

    <title>AeroNex Tech</title>
  </head>
<body class="position-relative">
  <header class="container-fluid position-fixed mb-3 @@param">
    <div class="container my-3 d-flex d-flex flex-column flex-md-row justify-content-between align-items-center">
      <div class="logo mb-3 mb-md-0">
        <a href="./index.html">
          <img src="./img/aeronex-tech-logo.png" alt="" width="250">
        </a>
      </div>
  
      <div class="header-info d-flex justify-content-center align-items-center">
        <nav class="nav-header d-none d-lg-flex ">
          <ul>
            <a href="./services.html">
              <li class="services-border-active">Services</li>
            </a>
            <a href="./aboutUs.html">
              <li class="about-border-active">About Us</li>
            </a>
            <!-- <a href="#">
              <li>Blog</li>
            </a> -->
          </ul>
        </nav>

        <div class="dropdown d-lg-none hamburger-menu">
          <button class=" dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="./img/hamburger-menu.png" alt="">
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="./services.html">Services</a></li>
            <li><a class="dropdown-item" href="./aboutUs.html">About Us</a></li>
          </ul>
        </div>

        <div class="btns-header d-flex justify-content-center align-items-center">
          <div class="btn-language">
            <select name="language" id="language">
              <option value="en" selected>EN</option>
              <option value="es">ES</option>
            </select>
          </div>
          <div class="btn-contact-us">
            <a href="./contact.html">
              <button>Contact Us</button>
            </a>
          </div>
        </div>
      </div>
    </div>
    
  </header>